@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4 text-center">Employee Management Services</h1>
    <br />


    <p>Here are some features of EMS:
        <ul>
            <li>View Employees</li>
            <li>Add Employees</li>
            <li>Update Employees</li>
            <li>Delete Employees</li>
        </ul>
    </p>

    <p>
        Employee Addresses can also be viewed:
        <ul>
            <li>View Addresses</li>
            <li>Add Addresses</li>
            <li>Update Addresses</li>
            <li>Delete Addresses</li>
        </ul>
    </p>


    <p>Head over to Employees and Addresses list via Nav Bar 🔥<br />
        Don't forget to fill in all info or expect to be reminded!
    </p>
    <br />
    <p>Check out the Github <a href="https://github.com/newdevon/Workplaced"> Development here</a>.</p>
</div>
